.panel{
    border:1px solid #e9e9e9;
    border:none!important;
    border-radius: 4px;
    background-color: #ffffff;
    margin-bottom: 24px;
    /*box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12),0 -1px 3px 0 rgba(0, 0, 0, 0.12),*/
}
.panel .panel-title{
    border-bottom: 1px solid #e9e9e9;
    padding:14px 16px;
}
.panel .panel-title h3 {
    font-weight: 500;
    font-size:1.2em;
}
.panel > .panel-body{
    padding:16px
}
.panel .panel-toolbar > ul >li{
    float: right;
    margin-left: 16px;
}
.panel .panel-toolbar,
.panel .close {
    float: right;
    margin-left: 24px;
}
