.app-main {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
}
.app-main:before {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1000;
    display: block;
    width: inherit;
    border: inherit;
    content: "";
}

.app-content {
    margin-left: 224px;
    overflow: hidden;
    padding-bottom: 48px;
    position: relative;

}
.app-content > .queue-anim-leaving {
  position: absolute;
  width:100%;
}
.app-breadcrumb {
    margin-left:224px;
    background-color: #EDF0F2;
    padding:16px 24px;
}
.app-breadcrumb a{
    color:#9e9e9e
}
.app-breadcrumb a:hover{
    color:#57c5f7
}
.app-main > .sys-alert{
    padding:16px;
    background-color: #f1f1f1;
}
